* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #E7DCDC;
    background-color: #121212;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#about {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background: #161616;
    background-size: cover;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 1;
    overflow: hidden;
}

#about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    z-index: -1;
    border-radius: 0 0 16px 16px;
}

.title {
    text-align: center;
    padding: 2rem;
    color: #E7DCDC;
    font-size: 1.5rem;
    font-family: 'Grandstander', cursive;
}

.title h1 {
    font-size: 3rem;
    font-weight: 600;
}

.title h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
}

#products-grid {
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    gap: 2rem;
    margin-bottom: 3em;
}

.product {
    background-color: #161616;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.product-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.product-info h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.product-info p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #B0B0B0;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-info  a {
    text-decoration: none;
    display: inline-block;
}

.product-link-button {
    padding: 0.75rem 1.5rem;
    background-color: #E7DCDC;
    color: #292929;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    display: block;
}

.product-link-button:hover {
    background-color: #292929;
    color: #E7DCDC;
    border: solid 2px #E7DCDC;
}
.button {
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 768px) {
    #home {
        width: 100%;
        padding: 1rem;
        border-radius: 0 0 16px 16px;
        box-shadow: none;
    }

    .title {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .title h1 {
        font-size: 2rem;
    }

    .title h2 {
        font-size: 1rem;
    }

    #products-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 3em;
    }

    .product {
        padding: 1rem;
        box-shadow: none;
    }

    .product-image img {
        max-height: 150px;
    }

    .product-info h3 {
        font-size: 1.2rem;
    }

    .product-info p {
        font-size: 0.8rem;
    }

    .product-price {
        font-size: 1rem;
    }

    .product-link button {
        padding: 0.4rem 0.8rem;
    }
}
